.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    gap: 20px 80px;
    margin: 0 60px 0 60px;

    @media screen and (max-width: 768px) {
        margin: 0 20px 0 40px;
    }
}

.info1 {
    flex: 1 1 60%;
    margin-top: -6px;
    justify-content: flex-start;
}

.info1 h1 {
    margin-top: 8px;
    font-size: 28px;
    line-height: 1.5;
}


.info1 img{
    max-width: 100%;
}

.info2 {
    text-transform: capitalize;
    flex: 1 1 30%;

    h3 {
        margin: 20px 0;
    }
}

.info3 {
    flex-basis: 35%;
    height: 100%
}

.mobileImage {
    max-width: 35vw;
    height: auto;
    flex-basis: 50%;
}

.fullWidthImage {
    margin: 30px 0;
    max-width: 80vw;
    height: auto;
    flex-basis: 80%;
}

.LexSearch .fullWidthImage {
    margin: 30px 0;
    max-width: 50vw;
    height: auto;
    flex-basis: 80%;
}

.desktopImage {
    max-width: 80vw;
    height: auto;
    flex-basis: 80%;
}

.flex20 {
    flex-basis: 20%;
}

.mw {
    max-width: 30vw;
}

@media screen and (max-width: 768px) {

    .fullWidthImage {
        margin: 15px 0;
    }

    .info2 {
        margin-top: 0;
    }

}

.modules {
    width: 100%; 
    margin: 0 60px;
    
    @media screen and (max-width: 768px) {
        margin: 0 20px;
    }

    h3 {
        margin: 10px 0;
    }
}

.columns {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;

    p {
        flex: 1 1 100%;
    }

    @media screen and (max-width: 520px) {
        flex-flow: column;
        gap: 0;
    }
}