@import "../index";

.about {
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.title {
  font-size: 28px;
  width: 100%;
  margin: 20px 0 48px;
}

.workButton {
  @include linkButton;
  margin-bottom: 40px;
}

.info {
  margin: 0 0 40px 60px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 10%;

  p {
    margin: 1.5em 0;
  }

  @media screen and (max-width: 768px) {
    flex-flow: column-reverse;
    gap: 0;
    margin: 0 0 40px 40px;
  }
}

.col1 {
  flex: 1 1 60%;
  font-size: 18px;
}

.col2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 30%;
  margin-bottom: 40px;

  @media screen and (max-width: 766px) {
    justify-content: flex-end;
  }
}

.col2 img {
  width: 100%;
  height: auto;
  max-width: 250px;
}

.info p {
  min-width: 350px;
  font-size: 18px;

  @media screen and (max-width: 768px) {
    min-width: 0;
    padding-right: 20px;
  }
}

.download {
  margin-left: 60px;
  font-size: 22px;

  @media screen and (max-width: 768px) {
    margin-left: 40px;
  }
}

.download a {
  cursor: pointer;
}

.download a:hover {
  text-decoration: underline;
}

.recent {
  margin-left: 60px;

  @media screen and (max-width: 768px) {
    margin-left: 40px;
  }
}
