.contact {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.title {
  margin-left: 60px;
  width: 100%;

  h3 {
    margin: 20px 0;
  }

  @media screen and (max-width: 768px) {
    margin: 40px;
  }
}

.title a {
  font-size: 20px;
  cursor: pointer;;
}

.title h2 {
  font-size: 48px;
}