.home {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.logo {
    height: 6vh;
    position: absolute;
    left: 5vw;
    bottom: 3vh;
    color: #f1f1f1;
    overflow: hidden;
}

.pageContent {
    margin: 2% 3.3333% 3.3333%;
    font-family: miller-display, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 90vw;
    background-color: #f1f1f1;
    color: #000;
    overflow: hidden;
}

.left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    margin-right: 10px;
    font-size: 20px;
    height: 115px;
    text-align: right;
    min-width: 125px;
}

.left a:hover {
    color: #9b9b9b;
    transition: 0.25s ease-in-out;
}
.left div {
    width: 100%;
}

.right {
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    max-width: 230px;
    min-width: 230px;
    font-size: 35px;
    margin-left: 10px;
}
