.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-left: -50px;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing img {
    cursor: pointer;
    max-width: 600px;
}