@import "../index";

.projects {
    transition:  0.25s ease-in-out;
    background: white;
}

.grid {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 120px;
    margin-bottom: 120px;

    @media screen and (max-width: 768px) {
        padding-top: 40px;
        gap: 60px;
    }
}

.tile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    margin: 0;
    flex: 1 1 100%;
    text-decoration: none !important;
    
    &:hover {
        color: #000;
        cursor: default;
    }
}

.tileImg {
    order: 1;
    flex: 1 1 50%;
    max-width: 650px;

    @media screen and (max-width: 768px) {
        flex: 1 1 100%;
        order: 0 !important;
    }
}

.tile img {
    width: 0;
}

.info {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: flex-end;
    max-width: 620px;
    flex: 1 1 50%;
    gap: 20px;
    width: 100%;
    z-index: 1;
    padding: 0 60px 40px 60px;

    @media screen and (max-width: 768px) {
        flex: 1 1 100%;
        padding: 40px 20px 40px 20px;
    }
}

.infoTitle {
    font-size: 40px;
    margin: 0;
    flex: 1;
}

.infoExcerpt {
   flex: 1 1 100%;
    font-size: 18px;
}

.linkButton {
    @include linkButton;
    margin: 0 auto 0 0;
}

.infoTags {
    display: flex;
    flex-flow: row wrap;
    gap: 4px 16px;
    text-transform: capitalize;
    font-size: 14px;
    flex: 1 1 100%;
}

.tag {
    border-radius: 4px;
    opacity: 80%;
    line-height: 16px;
    letter-spacing: .2px;
    font-weight: 400;
}