.trademarks {
    background-color: #f1f1f1;
    margin: 2% 3.3333% 3.3333%;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.tile {
    width: 45%;
}

.tile img {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 2vw;
    transition: .15s ease-in;
}

@media screen and (max-width: 520px){
    .tile {
        width: 100%;
    }
}