@import "../index";

.sideNav {
  position: static;
  min-width: 50px;
}

.sideNavContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  min-width: 50px;
  max-width: 50px;
}

.back {
  position: absolute;
  top: 300px;
  margin: auto;
}

.dropdownMenuContainer {
  display: flex;
  flex-flow: column;
  gap: 4px;
  position: fixed;
  top:0;
  z-index: 2;
  font-size: 20px;
  width: 120px;
  min-height: 100vh;
  padding: 50px 0 0 0;
  font-weight: 400;
  transform: translate3d(-100px, 0, 0);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    width: 140px;
  }
}

.dropdownMenuContainer a {
  cursor: pointer;
  padding-left: 16px;
  white-space: nowrap;
}

.dropdownMenuContainer a:hover {
  color: $dark-highlight;
}

.logo {
  position: absolute;
  bottom: 5px;
  margin: 2px 2px 2px 7px;
  width: 120%;
}

#navIcon {

}

.navIcon {
  width: 20px;
  height: 30px;
  position: relative;
  margin: 25px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 11px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

}

.open {
  span:nth-child(1) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -4px;
    left: 16px;
  }

  span:nth-child(2) {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 16px;
    left: 4px;
  }
}


.show {
  visibility: visible;
  background: white;
  -webkit-transform: scale(50, 1);
  -moz-transform: scale(50, 1);
  -o-transform: scale(50, 1);
  transform: translate3d(0, 0, 0);
}

.hide {
  visibility: hidden;
  transform: translate3d(-100px, 0, 0);
  width: 0;
}


