@font-face {
  font-family: Aeonik;
  src: url('fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: djr-text;
  src: url('fonts/FormaDJRText-Regular.woff') format('woff');
  src: url('fonts/FormaDJRText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: djr-text;
  src: url('fonts/FormaDJRText-Italic.woff') format('woff');
  src: url('fonts/FormaDJRText-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: djr-text;
  src: url('fonts/FormaDJRText-Medium.woff') format('woff');
  src: url('fonts/FormaDJRText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: djr-text;
  src: url('fonts/FormaDJRText-MediumItalic.woff') format('woff');
  src: url('fonts/FormaDJRText-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

$highlight-color: #90A575 !default;
$dark-highlight:  #60754D !default;

@mixin linkButton {
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
  margin-bottom: 40px;
  font-weight: 400;
  border-radius: 25px;
  background: #000;
  color: white;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover {
    background: $highlight-color;
    color: #000;
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-family: Aeonik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.page-container {
  margin-top: 20px;
  padding: 0;
  display: flex;
  position: absolute;
  top: 0;
}

p {
  font-size: 16px;
}

.content {
  width: 100%;
}

h1, h2, h3, h4 {
  color: #000;
  line-height: 1;
  font-weight: 400;
}

h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}



::selection {
  background: $highlight-color;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;

  &:hover {
    color: $dark-highlight;
    text-decoration: underline;
  }
}

a:visited {
  /*color: #000;*/
}

.full-width-image {
  margin: 40px 0;
  width: 100%;
  height: auto;
}

div {
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 1.5;
}